$preview-image-border: rgba(0, 0, 0, .3);
$background-color: #4B93C2; //Renuo Blau
$background-upload-box: #FFFFFF;
$background-details-box: #FFFFFF;
$font-color-upload-box: #000000;
$background-footer: #000000;
$font-color-footer: #E4F4FF;
$font-family: 'Comfortaa', cursive;

@import 'index';
