$preview-image-border: rgba(0, 0, 0, .3);
$background-color: #4b93c2; //Renuo lightblue
$background-color2: #28448a; //Renuo darkblue
$background-upload-box: #fff;
$background-details-box: #fff;
$font-color-upload-box: #000;
$background-footer: #000;
$font-color-footer: #e4f4ff;
$font-family: 'Roboto', sans-serif;

@import 'index';
