body {
  font-family: 'Comfortaa', cursive;
  background-color: $background-color;
}

h1 {
  padding-bottom: 20px;
}

@media(max-width: 1000px) {
  h1 {
    max-width: 600px;
    margin: auto;
  }
}

.pagetop {
  pointer-events: none;
  position: absolute;

  top: 0;
  left: 0;
}

.renuo-o {
  float: right;
  pointer-events: none;
  width: 80px;
  margin-top: -30px;
  margin-right: -20px;
}

.hidden-by-default {
  display: none;
}

img {
  max-width: 100%;
}

.container_upload {
  background-color: $background-color;
  color: #FFFFFF;
  margin: auto;
  width: 100vw;
  height: 65vh;
  margin-top: 30vh;

  .upload_button {
    border-radius: 40px;
    border: none;
    padding-top: 30px;
  }
  @media(max-width: 580px) {
    .col-xs-12 {
      padding: 0;
    }
    .upload_button {
      border-radius: 0px;
    }
  }
}

.container {
  text-align: center;
}

.info-text {
  color: #000000;
}

.container_info-top,
.container_info {
  background-color: #FFFFFF;
}
.container_info-top {
  padding-top: 5vh;
  height: 5vh;
}

.container_info {
  padding-bottom: 30px;
  margin: auto;
  h1,h2,h3 {
    color: #000000;
  }
  min-height: 90vh;

  .back {
    font-size: 50px;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 20px 30px 0px 30px;
  }
}

.footer-top {
  padding-top: 5vh;
  background-color: #000000;
  min-height: 5vh;
}

.footer {
  margin: auto;
  background-color: #000000;
  color: #E4F4FF;
  min-height: 20vh;
  p {
    font-family: 'Noto Serif', serif;
  }
}

.result {
  margin-top: 50px;

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 20px 0 10px;
  }

  a + a {
    margin-top: 10px;
  }

  .btn {
    width: 100%;
  }

}
