body {
  background-color: $background-color;
  font-family: $font-family;
}

h1 {
  padding-bottom: 20px;
}

@media(max-width: 1000px) {
  h1 {
    margin: auto;
    max-width: 600px;
  }
}

.pagetop {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.renuo-o {
  float: right;
  margin-right: -20px;
  margin-top: -30px;
  pointer-events: none;
  width: 80px;
}

.hidden-by-default {
  display: none;
}

img {
  max-width: 100%;
}

.container-upload {
  background-color: $background-color;
  color: $background-upload-box;
  height: 65vh;
  margin: auto;
  margin-top: 30vh;
  width: 100vw;

  .upload-button {
    border: 0;
    border-radius: 40px;
    padding-top: 30px;
  }
  @media(max-width: 580px) {
    .col-xs-12 {
      padding: 0;
    }

    .upload-button {
      border-radius: 0;
    }
  }
}

.container {
  text-align: center;
}

.info-text {
  color: $font-color-upload-box;
}

.container-info-top,
.container-info {
  background-color: $background-details-box;
}

.container-info-top {
  height: 5vh;
  padding-top: 5vh;
}

.container-info {
  margin: auto;
  min-height: 90vh;
  padding-bottom: 30px;

  h1,
  h2,
  h3 {
    color: $font-color-upload-box;
  }

  .back {
    border-radius: 50px;
    font-size: 50px;
    margin-top: 3px;
    padding: 20px 30px 0;
  }
}

.footer-top {
  background-color: $background-footer;
  min-height: 5vh;
  padding-top: 5vh;
}

.footer {
  background-color: $background-footer;
  color: $font-color-footer;
  margin: auto;
  min-height: 20vh;

  p {
    font-family: 'Noto Serif', serif;
  }
}

.result {
  margin-top: 50px;

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 20px 0 10px;
  }

  a + a {
    margin-top: 10px;
  }

  .btn {
    width: 100%;
  }

}
