.hidden-by-default {
  display: none;
}

body {
  background-color: #0C090A;
  color: #ffffff;
}

img {
  max-width: 100%;
}

.container {
  margin-bottom: 100px;
  margin-top: 100px;
}

.result {
  margin-top: 50px;


  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 20px 0 10px;
  }

  a + a {
    margin-top: 10px;
  }

  .btn {
    width: 100%;
  }

  .image-preview-wrapper {
    border: 2px solid $preview-image-border;
    min-height: 420px;
    width: 100%;
  }
}

#image-preview {
}

.dz-default {
  color: #000000;
}

.container {
  margin-top: 0;
  margin-top: 15px;
}

.top-buffer {
  margin-top: 25%;
}